/* APP STYLE */
.app {
    height: calc(100vh - 6rem);
    margin: 3rem auto;
    background-color: #f8f8f8;
    @apply container flex flex-col shadow-2xl lg:flex-row sm:rounded-3xl dark:bg-gray-800;
}

/*MAIN STYLES*/
.mainTabs {
    @apply py-4 px-5 flex justify-center items-center md:px-7 lg:px-14 lg:py-14 lg:w-1/4 xl:w-1/5 lg:justify-start lg:flex-col ;
    border-bottom: 3px solid #ebe9e9;
}

.mainOutput {
    @apply h-full py-4 px-5 md:px-7 lg:py-7 lg:px-14 lg:w-3/4 xl:w-4/5
}
/*END OF MAIN STYLES*/

/*SWITCHER*/
.switcher {
    @apply container absolute w-9 h-9  flex justify-center items-center shadow-md rounded-full cursor-pointer right-0 bottom-0  mr-4 mb-4  z-10 bg-white sm:right-8 sm:top-6 md:w-12 md:h-12 transition hover:opacity-90 dark:shadow-gray-600 dark:bg-gray-800;
}

.switcher img {
    @apply w-5 md:w-7;
}

/*MEDIA QUERIES*/
@media (max-width: 640px) {
    .app {
        height: 100vh;
        margin: 0;
    }
}

@media (min-width: 1024px) {
    .mainTabs {
        border-right: 3px solid #ebe9e9;
        border-bottom: none;
    }
}

@media (min-width: 1280px) {
    .app {
        width: 1280px;
    }
}